/* This Source Code Form is subject to the terms of the Mozilla Public License,
v. 2.0. If a copy of the MPL was not distributed with this file, You can obtain
one at http://mozilla.org/MPL/2.0/. */

@-moz-document url(chrome://browser/content/browser.xul)
{
  #nav-bar {
    border-top-style: solid !important;
    border-top-width: 1px !important;
    border-top-color: rgba(33,33,33,0.5) !important;
    margin-top: -2px !important;
  }

  #main-window[lwtheme="true"] #TabsToolbar {
    background: none !important;
  }

  #main-window #TabsToolbar {
    background: linear-gradient(to bottom, rgb(224,224,224) 0px, rgb(186,186,186) 36px, rgb(186,186,186) 100%);
    margin-top: -1px !important;
  }
}